/******************************
MAIN LAYOUT
******************************/
body 
{
	font-size: 0.8em;
	letter-spacing: 0.05em;
	position: relative;
	-webkit-text-size-adjust: 100%;
}

/****************************************************
Reset Elements in Content back to default
*****************************************************/

#content p				{ margin: 0 0 10px 0;}
#content ul,#content ol	{ padding: 1.12em 1.5em }
#content li				{ padding-left: 0.1em; list-style: disc; }
#content ol li			{ list-style:decimal } 
		
/******************************
HTML
******************************/

a
{
	color: #666666;
	text-decoration: none;
}
	a:hover
	{
		color: #000000;
	}
	a.underline
	{
		border-bottom: 1px solid #666666;
	}
		a.underline:hover
		{
			border-color: #000000;
		}
	
	.button,
	button,
	input[type="submit"]
	{
		background-color: #BBBBBB;
		background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
		background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
		background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
		background-size: 100% 300%;
		behavior: url(/assets/css/PIE.htc);
		
		-webkit-transition: background-position .2s ease-out;
		-moz-transition: background-position .2s  ease-out;  
		-o-transition: background-position .2s  ease-out;  
		transition: background-position .2s  ease-out;
		
		color: #FFFFFF;
		border-radius: 5px;
		border: 0;
		cursor: pointer;
		position: relative;
		padding: 7px 14px;
	}
		.button:hover,
		button:hover,
		input[type="submit"]:hover
		{
			background-position: 100%;
		}


/******************************
HEADINGS
******************************/

h1, .h1
{
	font-size: 2.3em;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0px 0px 10px 0px;
}


h2, .h2
{
	font-weight: normal;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 0px 0px 10px 0px;
}

h3, .h3,
h4
{
	font-size: 1.2em;
}
	
/******************************
IMAGES
******************************/
			

/******************************
FORMS
******************************/
.error
{
	color: red;
}
	/* Hide form when message sent */
	.success + form
	{
		display: none;
	}

#ui-datepicker-div
{
	background: #FFFFFF;
	padding: 5px;
}
	#ui-datepicker-div a
	{
		cursor: pointer;
	}
		.ui-datepicker-next
		{
			float: right;
		}

/******************************
SECTIONS
******************************/

/*************************
Header ******************/
#header-main-menu.inner
{
	overflow: visible;
}

/*************************
Index List **************/
.index-list .row
{
	border-bottom: 1px solid #D9D9D6;
}
	.pagination + .row
	{
		margin-top: 1em;
	}

/*************************
Breadcrumbs *************/
.breadcrumbs
{
    float: left;
    font-size: 1.3em;
    margin-bottom: 1em;
    width: 100%;
}
    .breadcrumbs a
    {
        color: #888;
        float: left;
        text-decoration: none;
    }
    .breadcrumbs span
    {
        float: left;
    }
        .crumb-child
        {
            color: #888;
            margin: 0 5px;
        }

/*************************
Slideshow ***************/
.slide + .slide
{
	display: none;
}

#slideshow-arrows
{
	bottom: 30px;
	display: none;
	position: absolute;
	width: 100%;
	z-index: 500;
}

	.cycle-prev,
	.cycle-next
	{
		background: url("/assets/images/slideshow/arrows.png") 0 no-repeat;
		cursor: pointer;
		height: 30px;
		float: left;
		width: 30px;
		margin-left: 30px;
	}
		.cycle-next
		{
			float: right;
			margin-right: 30px;
			background-position: -30px;
		}

.cycle-pager-wrap
{
	bottom: 10px;
	cursor: pointer;
	display: none;
	height: 20px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1000;
}
	.cycle-pager
	{
		display: inline-block;
	}
		.cycle-pager span
		{
			float: left;
			height: 20px;
			overflow: hidden;
			position: relative;
		}
			.cycle-pager-active img
			{
				position: relative;
				top: -22px;
			}

/*************************
Pagination **************/
.pagination
{
	border-bottom: 1px solid #D9D9D6;
	border-top: 6px solid #D9D9D6;
	font-size: 1.1em;
	line-height: 1.6em;
	padding: 3px 0 5px;
}
	.page-number
	{
		float: left;
		border: 1px solid #D9D9D6;
		color: #41423c;
		padding: 0 3px;
	}
		a.page-number
		{
			background: #D9D9D6;
		}
			a.page-number:hover
			{
				color: #41423c;
				background: #FFFFFF;
			}
				.page-number + .page-number
				{
					margin-left: 5px;
				}

/**************************
Footer *******************/


/******************************
PAGES
******************************/

/**************************
News *********************/
.separator
{
    display: none;
}
	a + .separator
	{
	    display: inline;
	}


/**************************
Sitemap ******************/
#sitemap ul
{
	padding-bottom: 0;
	padding-top: 0;
}
	#sitemap li
	{
		list-style: none;
	}

/******************************
OTHER HTML
******************************/

.attention
{
	font-size: 1.4em;
	line-height: 1.676em;
}

/******************************
MENUS
******************************/
/**************************
Main Menu ****************/

#header-main-menu li
{
	float: left;
	position: relative;
}
	#header-main-menu li a
	{
		float: left;
	    display: block;
		text-decoration: none;
		padding: 5px 8px;
	}
		#header-main-menu li ul
		{
			display: none;
			position:absolute;
			z-index: 500;
			top: 100%;
			background: #f3f3f3;
		}
		
			#header-main-menu li:hover ul
			{
				display:block;
			}
		
/**************************
Sidebar Menu *************/

#sidebar li
{
	text-decoration: none;
}

	#sidebar li a
	{
        display: block;
		text-decoration: none;
	}

/**************************
Footer Menu **************/

#footer li
{
    float: left;
}
	#footer li a
	{
        display: block;
		text-decoration: none;
		padding: 0px 10px;
	}
		#footer li a:hover,
		#footer li.current a
		{
			text-decoration: underline;
		}
	#footer li ul
	{
		display: none;
	}

/******************************
MEDIA QUERY OVERRIDES
******************************/

/**************************
Desktop Only *************/
@media ( min-width : 769px )
{
	
}

/**************************
Up to Tablet *************/
@media ( max-width : 768px )
{
	
}

/**************************
Tablet and up ************/
@media ( min-width : 581px )
{
	
}

/**************************
Up to Landscape Phone ****/
@media ( max-width : 580px )
{
	
}

/**************************
Up to Portrait Phone *****/
@media ( max-width : 360px )
{
	
}
